<form [formGroup]="form" (ngSubmit)="onSubmit()" (change)="onChange()">
  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Post title:" type = "text" formControlName="title" required>
      <mat-error>Post title is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Post author:" type = "text" formControlName="author" required>
      <mat-error>Post title is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput cdkTextareaAutosize placeholder="Post content:" type = "text" formControlName="content" required></textarea>
      <mat-error>Post title is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Post image:" type = "text" formControlName="image">
      <mat-error>Post title is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Post description:" type = "text" formControlName="description" required>
      <mat-error>Post title is required.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" class="button-submit">{{submitButtonText}}</button>
  </div>
</form>
