.form-container {
  display: flex;
  flex-direction: column;
  border: 2px solid darkblue;
  padding: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  * {
    width: 100%;
  }
}

.button-submit {
  width: 50%!important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: #f9f9f9;
  background-color: #3ab117;
  border-radius: 18px;
}
