.form-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  //max-width: 530px;
  margin: 10px auto;
  border-radius: 15px;
  box-shadow: 0 1px 8px #ddd;
  padding: 25px;

  input {
    caret-color: unset;
  }

  textarea {
    caret-color: unset;
  }

  * {
    width: 100%;
  }
}

.button-submit {
  width: 40%!important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: #f9f9f9;
  background-color: #4caf50;
  border-radius: 18px;
}
