.collapse-button {
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.children {
  margin-left: 30px;
  border-left: 1px solid grey;

  &.highlight {
    border-left: 2px solid #4caf50;
  }
}
