.news-container {
  display: flex;
  flex-direction: row;
}

.report-preview-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 1px solid #80808040;
}

.title {
  padding-left: 20px;
  color: #797e84;
}


.report:hover {
  border-left: 2px solid darkblue;
}

.report-active {
  border-left: 2px solid #3ab117;
}
