<div class="news-container">
  <div class="report-preview-container">
    <h2 class="title">News preview:</h2>
    <div
      *ngFor="let report of news$ | async; index as i"
      (click)="selectReport(report.id, i)"
      class="report"
      [class.report-active]="activeReportIndex === i"
    >
      <app-report-preview [report]="report"></app-report-preview>
    </div>
  </div>
  <div style="width: 60%; padding-left: 20px;">
    <app-report-detail *ngIf="news" [report]="news[activeReportIndex]"></app-report-detail>
<!--    <app-report-detail [report]="(news$ | async)[activeReportIndex]"></app-report-detail>-->
  </div>
</div>
