.post {
  border: 2px solid;
  padding: 10px;
  background-color: aliceblue;
}

.title {
  text-align: center;
}

.link {
  text-decoration: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  border: 2px solid darkblue;
  padding: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  * {
    width: 100%;
  }
}

.my-button {
  background-color: darkgreen;
  color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

  &__disabled {
    background-color: grey;
  }
}

.my-button-cancel {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
