<div>
  <h2 class="title">Create a new post</h2>
  <h3><a routerLink="../" class="link">Back to all posts</a></h3>
  <form>
    <div class="form-container">
      <div>
        <label>
          Post title:
          <input type = "text" [(ngModel)] = "newPost.title" name = "post-title" required #postTitle = "ngModel">
        </label>
        <div *ngIf="postTitle.invalid && (postTitle.dirty || postTitle.touched)"
             class="error-message">

          <div *ngIf="postTitle.errors.required">
            Post title is required.
          </div>

        </div>
      </div>
      <div>
        <label>
          Post author:
          <input type = "text" [(ngModel)] = "newPost.author" name = "post-author" required #postAuthor = "ngModel">
        </label>
        <div *ngIf="postAuthor.invalid && (postAuthor.dirty || postAuthor.touched)"
             class="error-message">

          <div *ngIf="postAuthor.errors.required">
            Post author is required.
          </div>

        </div>
      </div>
      <div>
        <label>
          Post content:
          <textarea [(ngModel)] = "newPost.content" name = "post-content" required #postContent = "ngModel"></textarea>
        </label>
        <div *ngIf="postContent.invalid && (postContent.dirty || postContent.touched)"
             class="error-message">

          <div *ngIf="postContent.errors.required">
            Post content is required.
          </div>

        </div>
      </div>
      <div>
        <label>
          Post image:
          <input type = "text" [(ngModel)] = "newPost.image" name = "post-image" required #postImage = "ngModel">
        </label>
        <div *ngIf="postImage.invalid && (postImage.dirty || postImage.touched)"
             class="error-message">

          <div *ngIf="postImage.errors.required">
            Post image is required.
          </div>

        </div>
      </div>
      <div>
        <label>
          Post description:
          <input type = "text" [(ngModel)] = "newPost.description" name = "post-description" required #postDescription = "ngModel">
        </label>
        <div *ngIf="postDescription.invalid && (postDescription.dirty || postDescription.touched)"
             class="error-message">

          <div *ngIf="postDescription.errors.required">
            Post description is required.
          </div>

        </div>
      </div>
      <button
        type = "submit" (click)="addPost()" [disabled]="postTitle.invalid || postAuthor.invalid || postContent.invalid
        || postImage.invalid || postDescription.invalid"
        class = "my-button"  [class.my-button__disabled] = "postTitle.invalid || postAuthor.invalid
        || postContent.invalid || postImage.invalid || postDescription.invalid"
      >
        Add post
      </button>
<!--      <button (click)="isCreate = isEdit = false" class="my-button-cancel">Cancel</button>-->
    </div>
  </form>
</div>
