.post {
  border: 2px solid;
  padding: 10px;
  background-color: aliceblue;
}

.title {
  text-align: center;
}

.link {
  text-decoration: none;
}

.error-message {
  border: 1px solid red;
}

.form-container {
  display: flex;
  flex-direction: column;
  border: 2px solid darkblue;
  padding: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  div {
    padding: 5px;
  }

  label {
    display: block;
    input {
      float: right;
      width: 100%;
      margin-left: 5px;
    }
    textarea {
      min-height: 100px;
      width: 100%;
    }
  }
}

.my-button {
  background-color: darkgreen;
  color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

  &__disabled {
    background-color: grey;
  }
}

.my-button-cancel {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
