<h3><a mat-raised-button color="primary" routerLink="../" class="link">Back to all posts</a></h3>
<button mat-raised-button color="primary" (click)="deletePost()" *ngIf="isLogin">Delete post</button>
<a mat-raised-button color="primary" routerLink="../edit/{{id}}" *ngIf="isLogin">Edit post</a>
<a mat-raised-button color="primary" routerLink="../new" *ngIf="isLogin">Create new post</a>
<div>
  <mat-card class="post" *ngIf="post">
    <mat-card-header>
      <mat-card-title>
        <h2>{{post.title}}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <h3>{{post.author}}</h3>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{post.content}}</p>
    </mat-card-content>
    <img mat-card-image src="{{post.image}}" alt = "Some image should be here">
    <mat-card-footer>
      <p>{{post.description}}</p>
    </mat-card-footer>
  </mat-card>
</div>
