$gray: #808080;
$green: #4caf50;
$contentColor: #353535;
$headerBorderColor: #80808040;
$buttonColor: #fafafa;
$font: 'Baloo Bhai';

.author {
  color: $green;
}

.by-author {
  color: $gray;
}

.fill-available {
  margin-left: auto;
}

.title {
  font-family: $font, cursive;
  font-weight: unset;
}

.content {
  font-family: Times, "Times", sans-serif;
  color: $contentColor;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  border-bottom: 1px solid $headerBorderColor;
}

.header-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.image {
  display: block;
  width: 100%;
}

.button {
  color: $gray;
  background-color: $buttonColor;
  border-radius: 50%;
  padding: 0;
  min-width: unset;
  width: 37px;
  margin: auto 10px;
}

.button-toggler {
  z-index: 2;
}

.button-menu {
  width: 0;
  height: 60px;
  transition: width 300ms ease-in-out;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 50px;
  z-index: 1;
  background-color: $buttonColor;
  overflow: hidden;
}
