<div>
  <div class="header">
    <img [src]="avatarSource" alt="avatar" class="header-image">
    <p class="by-author">By <span class = "author">{{post.author}}</span></p>
    <ng-container *ngIf="isLogin$ | async">
      <div class="fill-available"></div>
      <button mat-raised-button color="primary" (click)="toggleButtonMenu()" class="button button-toggler">
        <fa-icon [icon]="currentIcon" class="icon-middle"></fa-icon>
      </button>
      <div id="buttonMenu" class="button-menu">
        <button mat-raised-button color="primary" (click)="deletePost()" class="button">
          <fa-icon [icon]="faTrash" class="icon-middle"></fa-icon>
        </button>
        <a mat-raised-button color="primary" [routerLink]="['edit', post._id]" class="button">
          <fa-icon [icon]="faEdit" class="icon-middle"></fa-icon>
        </a>
        <a mat-raised-button color="primary" [routerLink]="['new']" class="button">
          <fa-icon [icon]="faPlus" class="icon-middle"></fa-icon>
        </a>
      </div>
    </ng-container>
  </div>
  <h1 class="title">{{post.title}}</h1>
  <img [src]="post.image" alt = "New image" (error)="invalidImage($event)" class="image">
  <div class="content">{{post.content}}</div>
</div>
