.post {
  width: 90%;
  margin: 10px auto;
  background-color: #fafafa;
}

.title {
  text-align: center;
  color: grey;
}

.content {
  color: #797e84;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.button {
  color: #f9f9f9;
  background-color: #3ab117;
  border-radius: 18px;
}

.button-cancel {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
