<h1 class="title">Post:</h1>
<h3><a routerLink="../" class="link">Back to all posts</a></h3>
<button (click)="deletePost()" *ngIf="isLogin">Delete post</button>
<button (click)="editPost()" *ngIf="isLogin">Edit post</button>
<button (click)="router.navigate(['/posts/new'])" *ngIf="isLogin">Create new post</button>
<div *ngIf="isEdit">
  <form (ngSubmit)="updatePost()">
    <div class="form-container">
      <div>
        <mat-form-field>
          <input matInput placeholder="Post title:" type = "text" [(ngModel)] = "newPost.title" name = "post-title" required #postTitle = "ngModel">
          <mat-error>Post title is required.</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Post author:" type = "text" [(ngModel)] = "newPost.author" name = "post-author" required #postAuthor = "ngModel">
          <mat-error>Post author is required.</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <textarea matInput placeholder="Post content:" [(ngModel)] = "newPost.content" name = "post-content" required #postContent = "ngModel"></textarea>
          <mat-error>Post content is required.</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Post image:" type = "text" [(ngModel)] = "newPost.image" name = "post-image" #postImage = "ngModel">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Post description:" type = "text" [(ngModel)] = "newPost.description" name = "post-description" required #postDescription = "ngModel">
          <mat-error>Post description is required.</mat-error>
        </mat-form-field>
      </div>
      <button
        type = "submit" [disabled]="postTitle.invalid || postAuthor.invalid || postContent.invalid
        || postImage.invalid || postDescription.invalid"
        class = "my-button"  [class.my-button__disabled] = "postTitle.invalid || postAuthor.invalid
        || postContent.invalid || postImage.invalid || postDescription.invalid"
      >
        Edit post
      </button>
      <button type = 'button' (click)="isEdit = false" class="my-button-cancel">Cancel</button>
    </div>
  </form>
</div>
<div>
  <div class="post" *ngIf="post$ | async as post">
    <h2 class="title">{{post.title}}</h2>
    <h3>{{post.author}}</h3>
    <p>{{post.content}}</p>
    <img src="{{post.image}}" alt = "Some image should be here">
    <p>{{post.description}}</p>
  </div>
</div>
