<div mat-dialog-content>
  <p *ngIf="data && data.message">{{data.message}}</p>
  <p *ngIf="!data || !data.message">A you sure?</p>
</div>
<div *ngIf="data">
  <form *ngIf="!data.title" [formGroup]="formAddChild" (ngSubmit)="sendResult(formAddChild.value.title)" class="column">
    <input type="text" placeholder="Node title" formControlName="title">
    <div class="row margin-top">
      <button mat-button type="submit">Add child node</button>
      <button mat-button (click)="cancel()">Cancel</button>
    </div>
  </form>
  <form *ngIf="data.title" [formGroup]="formEditNode" (ngSubmit)="sendResult(formEditNode.value.title)" class="column">
    <input type="text" placeholder="Node title" formControlName="title">
    <div class="row margin-top">
      <button mat-button type="submit">Ok</button>
      <button mat-button type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
