.app-title {
  color: #4caf50;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: #353535;
  padding: 10px;
  cursor: pointer;
  &:hover {
    border-left: 2px solid #4caf50;
  }
}

.link-active {
  background-color: #f9f9f9;
  border-left: 2px solid #4caf50;
}

.main-content {
  display: flex;
  flex-direction: row;
  margin-top: 79px;
}

.row {
  display: flex;
  flex-direction: row;
}

.icon {
  color: rgba(0,0,0,.87);
  margin-right: 15px;
  width: 30px;
}

.icon-middle {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.avatar-container {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  color: #c9ced1;
}

.header-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.toolbar {
  min-height: 64px;
  height: auto;
  background-color: #fafafa;
  z-index: 5;
  position: fixed;
  top: 0;
  box-shadow: 0 1px 3px #ddd;
}

.sidenav {
  width: 20%;
  min-width: fit-content;
  margin-left: 5px;
  border-right: 1px solid #dcdcdc;
}

.sidenav-link-group {
  display: flex;
  flex-direction: column;
}

.outlet {
  overflow-x: auto;
  width: 80%;
}
