<mat-toolbar >
  <mat-toolbar-row>
    <span>Ng-blog-app</span>
    <span class="fill-remaining-space"></span>
    <mat-card *ngIf="userEmail">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>
          {{userEmail}}
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a mat-raised-button color="primary" routerLink="/posts" routerLinkActive="link-active">Posts</a>

    <span class="fill-remaining-space"></span>

    <button mat-raised-button color="primary" (click)="logout()" *ngIf="isLogin">Logout</button>
    <ng-container *ngIf="!isLogin">
      <a mat-raised-button color="primary" routerLink="/login" routerLinkActive="link-active">Login</a>
      <a mat-raised-button color="primary" routerLink="/register" routerLinkActive="link-active">Register</a>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
