<div>
  <mat-toolbar class="toolbar">
    <span class="app-title">Ng-blog-app</span>
    <span class="fill-remaining-space"></span>
    <div *ngIf="userEmail">
      <div class="avatar-container">
        <img [src]="avatarSource" alt="avatar" class="header-image">
      </div>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <fa-icon [icon]="faBars" class="icon-middle"></fa-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-container *ngIf="isLogin">
        <button mat-menu-item (click)="router.navigate(['/posts/new'])">
          Create new post
        </button>
        <button mat-menu-item (click)="logout()">
          Logout
        </button>
      </ng-container>
      <ng-container *ngIf="!isLogin">
        <button mat-menu-item (click)="router.navigate(['/login'])">
          Login
        </button>
        <button mat-menu-item (click)="router.navigate(['/register'])">
          Register
        </button>
      </ng-container>
    </mat-menu>
  </mat-toolbar>
  <div class="main-content">
    <div class="sidenav">
      <div class = "sidenav-link-group">
        <a routerLink="/posts" routerLinkActive="link-active" class="link">
          <div class="row">
            <div class="icon">
              <fa-icon [icon]="faNewspaper" class="icon-middle"></fa-icon>
            </div>
            <span>Posts</span>
          </div>
        </a>
        <a routerLink="/tree" routerLinkActive="link-active" class="link">
          <div class="row">
            <div class="icon">
              <fa-icon [icon]="faSitemap" class="icon-middle"></fa-icon>
            </div>
            <span>Tree view</span>
          </div>
        </a>
        <a class="link">
          <div class="row">
            <div class="icon">
              <fa-icon [icon]="faLightbulb" class="icon-middle"></fa-icon>
            </div>
            <span>Startups</span>
          </div>
        </a>
        <a class="link">
          <div class="row">
            <div class="icon">
              <fa-icon [icon]="faBusinessTime" class="icon-middle"></fa-icon>
            </div>
            <span>Business</span>
          </div>
        </a>
        <a class="link">
          <div class="row">
            <div class="icon">
              <fa-icon [icon]="faGraduationCap" class="icon-middle"></fa-icon>
            </div>
            <span>Education</span>
          </div>
        </a>
        <a class="link">
          <div class="row">
            <div class="icon">
              <fa-icon [icon]="faSuitcaseRolling" class="icon-middle"></fa-icon>
            </div>
            <span>Travel</span>
          </div>
        </a>
        <a class="link">
          <div class="row">
            <div class="icon">
              <fa-icon [icon]="faHeartbeat" class="icon-middle"></fa-icon>
            </div>
            <span>Life</span>
          </div>
        </a>
        <a class="link">
          <div class="row">
            <div class="icon">
              <fa-icon [icon]="faPlay" class="icon-middle"></fa-icon>
            </div>
            <span>Video</span>
          </div>
        </a>
        <a class="link">
          <div class="row">
            <div class="icon">
              <fa-icon [icon]="faCalendarAlt" class="icon-middle"></fa-icon>
            </div>
            <span>Events</span>
          </div>
        </a>
      </div>
    </div>
    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
