.report-preview-container {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
}

.image {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 16px;
}

.header {
  text-transform: uppercase;
  color: gray;
  font-size: small;
}

.footer {
  color: gray;
  font-size: small;
}

.title {
  font-size: larger;
  font-weight: bold;
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}

.multiline-truncation {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.author {
  color: #3ab117;
}
