.post {
  width: 90%;
  margin: 10px auto;
  background-color: #fafafa;
}

.title {
  text-align: center;
  color: #3ab117;
}

.title:hover {
  border-left: 2px solid darkblue;
}

.link {
  text-decoration: none;
}

.button {
  color: #f9f9f9;
  background-color: #3ab117;
  border-radius: 18px;
}
