<h1 class="title">Posts:</h1>
<button
  mat-raised-button
  color="primary"
  (click)="router.navigate(['/posts/new'])"
  *ngIf="isLogin$ | async"
  class="button"
>
  Create new post
</button>
<div *ngFor = "let post of posts">
  <mat-card class="post">
    <mat-card-header>
      <mat-card-title>
        <h2><a routerLink="{{post._id}}" class="link title">{{post.title}}</a></h2>
      </mat-card-title>
      <mat-card-subtitle>
        <h3>{{post.author}}</h3>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{post.content}}</p>
    </mat-card-content>
    <img mat-card-image src="{{post.image}}" alt = "Some image should be here">
    <mat-card-footer>
      <p>{{post.description}}</p>
    </mat-card-footer>
  </mat-card>
</div>
