<div class="row">
  <div class="post-preview-container">
    <div *ngFor = "let post of posts" (click)="selectPost(post)">
      <div class="post-preview" [ngClass]="{'post-preview-active' : post.active}">
        <div class="image-container">
          <img [src] = post.image alt = "Some image should be here" (error)="invalidImage($event)" class="image">
        </div>
        <div class="post-preview-content">
          <div class="header">
            By <span class = "author">{{post.author}}</span>
          </div>
          <div class="title multiline-truncation">
            {{post.title}}
          </div>
          <div class="footer multiline-truncation">
            {{post.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="post-content" *ngIf="selectedPost">
    <app-post [post]="selectedPost" (deleted)="deletePost()"></app-post>
  </div>
</div>
